*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    max-width: 100%;
    color: #474646;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
}

header nav{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.219);
    background: #fff;
}
header nav .logo{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

 /*le logo qui se trouve dans la navigation*/
header nav .logo a img {
    height: 60px;
}
.logo-phone img{
    height:25px;
    display:none;
} 

/* la liste des element de navigation*/
header nav .liste{
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    gap: 35px;
}
header nav .liste a{
    color: #000;
    font-size: 1.2vw;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


header nav .liste a:hover{
    color: #175499;
}

/* la div qui contient le bouton s'abonner et la loupe*/
.recherche{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

 /* le bouton s'abonner qui est dans la navigation*/
.recherche .btn{
    position: absolute;
    top: 20px;
    right:70px;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background-color: #0070CC;
    transition: .5s ease-in-out;
}
.recherche .btn:hover{
    background: #154a86;
}

/* le boite sombre qui vien rendre l'arrier plan de la boite de recherche sombre*/
.overlay{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    background: transparent;
    transition: 0.5s ;  
    z-index: 12;
    content-visibility: hidden;
   
}
.overlay.active1{
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.733);
    content-visibility: visible;
}

/*la dive di contient le formulaire et qui le faire deplacer*/ 
.search-bar{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 20px;
    transition: 0.5s ;
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index:15; 
    content-visibility: hidden;
}
.search-bar.active{
    width: 40vw;
    transform: translateX(-25vw) translateY(12vh);
    display: block;
    background: #0070CC;
    border: 1px solid #0070CC;
    border-radius: 10px;
    content-visibility: visible;  
}
/* le formulaire avec les input pour la recherche*/
.search-bar form{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-bar input{
    border: none;
}
.search-bar .input-search {
    border-radius: 10px 0 0 10px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    outline: none;
    padding:0 10px;
    font-size: 18px;
}
.search-bar .input-submit{
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 20%;
    cursor: pointer;
    background-color: #0070CC;
    font-size: 1.8vw;
    color: #fff;
} 

/* le logo de la loupe */
.search-button{
    z-index: 10;
    position: absolute;
    top: 16px;
    right: 2px;
    cursor: pointer;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
}
.search-button i{
    font-size: 22px;
}
.search-button i:hover{
    color: #0070CC;
}
/* le croix de fermeture  qui vient avec la partie recherche*/
.search-button1{
    background-color:#0070CC;
    z-index: 10;
    position: absolute;
    top: 16px;
    right: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
}
.search-button1 i{
    color: #fff;
    font-size: 25px;
}

/* le menu beuger luis meme*/
.menu-beuger{
    position: absolute;
    top: 28px;
    left: 20px;
    cursor: pointer;
    display: none;
}
.menu-beuger i{
    font-size: 25px;
}
.menu-beuger i:hover{
    color: #0070CC;
}
/*les liste qui  son dans la navigation*/
.liste-phone{
    position: absolute;
    left: -100vw;
    background:  #fff;
    height: 87vh;
    width: 100vw;
    padding-left: 20px;
    transition: 0.5s ease-in-out;
    z-index: 10;
}

/* partie menu beuger*/

.liste-phone.beuger {
    transform: translateX(100vw);
}

/* l'icone de la croix qui ferme le menu beurger*/
.menu-close{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.menu-close i{
    font-size: 30px;
}
.menu-close i:hover{
    color: #0070CC;
}
 
/* les liste de lien qui se trouve dans le menu-beuger*/
.phone-a{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 10px;
}

.phone-a a:hover{
    color: #0070CC;
}
.liste-phone  a{
    position: relative;
    display: block;
    text-transform:capitalize;
    color: #000;
    border-bottom: 1px solid #ffffff96;
    height: 50px;
    width:98% ;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* les plus qui son dans le menu beuger*/
.liste-phone  a span{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
   
}

/* le logo et texte qui se trouve dans le menu-beuger*/
.icon-log{
    border-bottom: 1px solid #ffffff96;
    height: 150px;
    width: 98%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.icon-log h2{
    color: #000;
    font-size: 35px;
}

/* les boite qui vont appareite quand je vais cliquer sur les plus du menubeuger*/

/* le boite android*/
.mobile-scrol{
    position: absolute;
    right:70vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.mobile-scrol.mobile-active{
    transform: translateY(0);
}
.mobile-scrol a{
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.mobile-scrol a:hover{
    color: #0070CC;
}
.chevron1 .chevron1-active{
    transform: rotate(180deg);
}
.close i{
    font-size: 30px;
}
.close i:hover{
    color: #0070CC;
}
/* le boite psp*/
.psp-scrol{
    position: absolute;
    right:60vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px; 
}
.psp-scrol.psp-active{
    transform: translateY(0);
}
.psp-scrol a{
    color:#000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.psp-scrol a:hover{
    color: #0070CC;
}
.close1 i{
    font-size: 30px;
}
.close1 i:hover{
    color: #0070CC;
}
/* le boite ps2*/
.ps2-scrol{
    position: absolute;
    right:55vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.ps2-scrol.ps2-active{
    transform: translateY(0);
}
.ps2-scrol a{
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.ps2-scrol a:hover{
    color: #0070CC;
}
.close2 i{
    font-size: 30px;
}
.close2 i:hover{
    color: #0070CC;
}

/*boite pour la ps vita*/
.psvita-scrol{
    position: absolute;
    right:45vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.psvita-scrol.psvita-active{
    transform: translateY(0);
}
.psvita-scrol a{
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.psvita-scrol a:hover{
    color: #0070CC;
}
.close3 i{
    font-size: 30px;
}
.close3 i:hover{
    color: #0070CC;
}

/*boite pour la wii*/
.wii-scrol{
    position: absolute;
    right:37vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.wii-scrol.wii-active{
    transform: translateY(0);
}
.wii-scrol a{
    color: #000C;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.wii-scrol a:hover{
    color: #0070CC;
}
.close4 i{
    font-size: 30px;
}
.close4 i:hover{
    color: #0070CC;
}


/*boite pour la nintendo switch*/
.ns-scrol{
    position: absolute;
    right:30vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.ns-scrol.ns-active{
    transform: translateY(0);
}
.ns-scrol a{
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.ns-scrol a:hover{
    color: #0070CC;
}
.close5 i{
    font-size: 30px;
}
.close5 i:hover{
    color: #0070CC;
}

/*boite pour les pc*/
.pc-scrol{
    position: absolute;
    right: 20vw;
    height: 70vh;
    width: 20vw;
    transform: translateY(-600px);
    transition: 0.5s ease-in-out;
    z-index: 10;
    background: #fff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    padding: 15px;
}
.pc-scrol.pc-active{
    transform: translateY(0);
}
.pc-scrol a{
    color: #000;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000009a;
}
.pc-scrol a:hover{
    color: #0070CC;
}
.close6 i{
    font-size: 30px;
}
.close6 i:hover{
    color: #0070CC;
}

.close, .close1, .close2, .close3, .close4, .close5, .close6{
    position: relative;
    top: -10px;
    left: 0;
    cursor: pointer;
}


main{
    margin-top: 80px;
}
.contenair1{
    width: 100%;
    margin-top: 30px;
}
.contenair1 .box1{
    background: #fff;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.contenair1 .box1 h2{
    font-size: 30px;
}
.contenair1 .box1 h2 span{
    color: #0070CC;
}
.contenair1 .box1 h2 .color-span{
    color: #14B8A6;
}
.contenair1 .box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0070cc36;
    padding: 15px 15px;
    gap: 30px;
}
.contenair1 .box2 .sous-box2{
    width: 50%;
    background: #fff;
    border-radius: 6px;
    padding: 1px;
}
.contenair1 .box2 .sous-box2 img{
    width: 100%;
    border-radius: 6px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.048);
}

.contenair1 .box3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}
.contenair1 .box3 p{
    font-size: 20px;
    color: #474646;
}
.contenair1 .box3 p span{
    font-weight: bold;
    color: #0070CC;
}
.contenair1 .box3  p .color-span{
    color: #14B8A6;
}
.contenair1 .box4{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
     align-items: center;
     background: #0070cc36;
     padding: 0 10px;
    gap: 30px;
}
.contenair1 .box4 .sous-box4{
    height: 300px;
    width: 48%;
    background: #fff;
    border-radius: 6px;
}

.contenair1 .box5{
    height:auto ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 20px;
    gap: 15px;
    border-bottom: 1.5px solid #14B8A6;
}
.contenair1 .box5 h3{
    font-size: 30px;
}
.contenair1 .box5 h3 span{
    color: #0070CC;
}
.contenair1 .box5 p{
    color: #474646;
    font-size: 20px;
}
.contenair1 .box5 p span{
    color: #0070CC;
    font-weight: bold;
}
.contenair1 .box5 h3 .color-span{
    color: #adb2c4;
}
.contenair1 .box5 p .color-span{
    color: #adb2c4;
}

.contenair1 .box6{
    height:auto;
    width: 100%;
    padding: 30px 20px;
}
.contenair1 .box6 h3{
    color: #14B8A6;
    font-size: 30px;
   
}

.contenair1 .box6 h3 span{
    color: #0070CC;
}
.contenair1 .box6 ul{
    margin:40px 0 0 40px;
   
}
.contenair1 .box6 ul li{
    margin-top: 15px;
    font-size: 20px;
    color: #474646;
    list-style: none;
    position: relative;
}
.contenair1 .box6 ul li span{
    color: #0070CC;
    font-weight: bold;  
}
.contenair1 .box6 ul li::before{
    content: "➤";
    color: #14B8A6;
    position: absolute;
    left: -30px;
    margin-right: 5px;
}
.box7{
   height:auto;
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid #14B8A6;
}
.contenair1 .box7 h3{
    color: #14B8A6;
    font-size: 30px;
   
}

.contenair1 .box7 h3 span{
    color: #0070CC;
}

.contenair1 .box7 p{
    color: #474646;
    margin-top: 20px;
}
.contenair1 .box7 ul li{
    margin-top: 15px;
    font-size: 20px;
    color: #474646;
    list-style: none;
    position: relative;
}
.contenair1 .box7 ul{
    margin:40px 0 0 40px;
   
}
.contenair1 .box7 ul li span{
    color: #0070CC;
    font-weight: bold;  
}
.contenair1 .box7 ul li::before{
    content: "➤";
    color: #14B8A6;
    position: absolute;
    left: -30px;
    margin-right: 5px;
}
.box8{
    height:auto;
    width: 100%;
    padding: 30px 20px;

}
.contenair1 .box8 h3{
    color: #14B8A6;
    font-size: 30px;
    
   
}
.contenair1 .box8 h3 span{
    color: #0070CC;
}

.contenair1 .box8 p{
    color: #474646;
    margin: 20px 0;
}


.contenair1 .box8 ul li{
    margin-top: 15px;
    font-size: 20px;
    color: #474646;
    list-style: none;
    position: relative;
}
.contenair1 .box8 ul{
    margin:40px 0 0 40px;
   
}
.contenair1 .box8 ul li span{
    color: #0070CC;
    font-weight: bold;  
}
.contenair1 .box8 ul li::before{
    content: "➤";
    color: #14B8A6;
    position: absolute;
    left: -30px;
    margin-right: 5px;
}
.contenair1 .box8 .box-link{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.contenair1 .box8 .box-link a img{
    height: 50px;
    border-radius: 10px;
    transition: 1S;
}
.contenair1 .box8 .box-link a img:hover{
    box-shadow:4px 4px 8px 8px #0070cc52;
}
.contenair1 .box8 .box-link .lien-unique{
    background:linear-gradient(to right, #14B8A6, #0070CC);
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    transition: 1s;
}
.contenair1 .box8 .box-link .lien-unique:hover{
    background:linear-gradient(to right, #04599e, #0da190);
    box-shadow:4px 4px 8px 8px #0070cc34;
}
.contenair1 .box8 .box-link .lien-unique i{
    margin-right: 10px;
    color: #fff;
}



.box9{
    height:auto;
    width: 100%;
    padding: 30px 20px;

}
.contenair1 .box9 h3{
    color: #14B8A6;
    font-size: 30px;
    
   
}
.contenair1 .box9 h3 span{
    color: #0070CC;
}
.video-container  {
    background: #0070cc36;
    display: flex;
    justify-content: center;
    padding: 20px ;
}
.video-container iframe {
    border: none;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.texte-tape{
    padding: 40px;
}
.texte-tape h4{
    margin-left: 10px;
    color: #0070CC;
    font-size: 30px;
}

.texte-tape ul {
    margin: 15px 40px;
}
.texte-tape ul li{
    font-size: 20px;
    color: #474646;
    list-style: none;
    position: relative;
    margin-top: 15px;
}
.texte-tape ul li::before{
    content: "➤";
    color: #14B8A6;
    position: absolute;
    left: -30px;
    margin-right: 5px;
}
.texte-tape ul li span{
    color: #14B8A6;
    font-weight: bold;  
}
.texte-tape p{
    margin-top: 10px;
    font-size: 30px;
}

.texte-tape p span{
    color: #0070CC;
    font-weight: bold;
}
.conclusion {
    padding: 40px;
}
.conclusion h3{
    margin-left: 10px;
    color: #0070CC;
    font-size: 30px;
}
.conclusion p{
    margin:  10px 0 0 25px;
    font-size: 25px;

}


.avant-game{
    height: auto;
    padding: 20px 40px;
    background: #0070cc36;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avant-game h4{
    font-size: 30px;
    color: #0070CC;
    margin-bottom: 10px;
}
.avant-game p{
   font-size: 25px;
   margin-left: 30px;
}
.box-game0{
    padding: 15px;
}
.box-games{
    width: 100%;
    height: 250px;
    background: #fff;
    box-shadow: 4px 3px 8px 8px rgba(0, 0, 0, 0.116);
    display: flex;
    border-radius: 6px;
    margin-bottom: 20px;
}
.gamme-image{
    height: 100%;
    width: 40%;
    padding: 10px;
    
}
.gamme-image a img{
    height: 100%;
    width: 90%;
}

.game-texte{
    height: 100%;
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.game-texte a{
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.game-texte a:hover{
    color: #0070CC;
}



















footer{
    margin: 0;
    width: 100%;
    background: #00439C;
}

.footer-nav{
    display: flex;
    margin-bottom: 40px;
    padding-top: 20px;
    justify-content: space-between;
    
}

.footer-logo{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding-left: 30px;

}
.footer-logo img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 50px;

}
.footer-logo h5{
     font-size: 25px;
     font-weight: 400;
     margin-bottom: 10px;
     color: #ffff;
}
.footer-logo p{
    color: #fff;
    font-size: 15px;
}
.footer-logo p a{
    color: #fff;
    text-decoration: underline;
}
.footer-logo p a:hover{
    color: #adb2c4;
}

.link-link{
    width: 60%;
    display: flex;
}
.footer-links{
    width: 50%;
    
}
.footer-links a{
    display: block;
    color: #fff;
    font-size: 25px;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 150px;
    margin-bottom: 5px;
}
.footer-links1{
    width: 50%;
}
.footer-links1 a{
    display: block;
    color: #fff;
    font-size: 25px;
    color:#fff;
    border-bottom: 1px solid #fff;
    width: 250px;
    margin-bottom: 5px;
}
.footer-content{
    padding-top: 20px;
    border-top: .5px solid #ffff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content p{
    color: #fff;
}

.link-icone{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-icone i{
    font-size: 35px;
    color:#fff;
    margin-left: 20px;
}
.link-icone i:hover{
    color: #adb2c4;
}
















@media screen and (max-width:1024px){
    .menu-beuger{
        display: block;
    }
    header nav .liste{
        display: none;
    }
    .search-bar.active{
        transform: translateX(-20vw) translateY(12vh);
    }
    .search-button{
        left: 80px;
    }
    .icon-log h2{
        font-size: 60px;
    }
    .pc-scrol, .ns-scrol, .wii-scrol, .psvita-scrol, .ps2-scrol, .psp-scrol, .mobile-scrol{
        position: absolute;
        right: 0;
        height: 87vh;
        width: 80vw;
        transform: translateY(-4000px);
        transition: 0.5s ease-in-out;
        z-index: 10;
        background: #ffffff;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.158);
    }
      




    .contenair1 .box2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
     background: #0070cc36;
     padding: 20px 20px;
    gap: 20px;
}
.contenair1 .box2 .sous-box2{
    width: 100%;
    background: #fff;
    border-radius: 6px;
}



.contenair1 .box4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
     background: #0070cc36;
     padding: 20px 20px;
    gap: 20px;
}
.contenair1 .box4 .sous-box4{
    height: 250px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
}


.contenair1 .box1 h2{
    font-size: 30px;
}
.contenair1 .box3 p{
    font-size: 16px;
}









    .footer-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .link-link{
        padding-top: 15px;
        border-top: .5px solid #ffff;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-logo{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo img{
        margin-left: 0;
    }
    .footer-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-links1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content p{
        font-size: 25px;
    }
}  




@media screen and (max-width:768px){

    .search-bar.active{
        transform: translateX(-10vw) translateY(12vh);
        width: 300px;
    }

    .search-bar .input-submit{
        font-size: 15px;
    }
   
    .search-button{
        left: 50px;
    }
    .recherche .btn{
        right: 25px;
    }

    .icon-log h2{
        font-size: 35px;
    }

    .translate-box{
        height: 200px;
    }

 


.contenair1 .box1 h2{
    font-size: 22px;
}
.contenair1 .box3 p{
    font-size: 14px;
}
.contenair1 .box5 h3{
    font-size: 25px;
}
.contenair1 .box5 p{
    font-size: 14px;
}
.contenair1 .box6 h3{
    font-size:24px
}
.contenair1 .box6 ul li{
    font-size: 15px;
}
.contenair1 .box7 p{
    font-size: 14px;
}
.contenair1 .box7 h3{
    font-size:24px
}
.contenair1 .box7 ul li{
    font-size: 15px;
}
.contenair1 .box8 ul li{
    font-size: 15px;
}
.contenair1 .box8 h3{
    font-size:24px
}
.contenair1 .box9 h3{
    font-size:24px
}
.texte-tape h4{
    font-size:24px
}
.texte-tape ul li{
    font-size: 15px;
}
.texte-tape p{
    font-size: 20px;
}
.conclusion h3{
    font-size:24px
}
.conclusion  p{
    font-size: 20px;
}




.box-games{
    height: 130px;
}
.avant-game{
}

.gamme-image a img{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-texte a{
    font-size: 1rem;
}

.avant-game h4{
    font-size: 24px;
}
.avant-game p{
   font-size: 20px;
   
}


    .footer-links a, .footer-links1 a{
        font-size: 20px;
        width: 150px;
    }
    .footer-content{
        padding: 0 15px;
        display: flex;
        justify-content: center;
    }
    .footer-content p{
        font-size: 14px;
    }
    .tandence-new button{
        font-size: 12px;
    }
    .tandence-new .game-card {
    width: 130px;
    height: 185px;
    }  
    .logo-phone img{
        display:block;
         position: absolute;
         top: 10px;
         left: 150px;
     }
     .logo-phone0 img {
        display: none;
    }  
}    